[Unit]
Description=Runs XOSP LetsEncrypt certificate renewal
Wants=xosp-renew.timer
[Service]
ExecStart=${PwshPath} XOSP-Renew.ps1
WorkingDirectory=${InstallPath}
[Install]
WantedBy=multi-user.target