<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="Paritech.Zenith">
			<section name="Feed" type="Paritech.Zenith.Feed.Config.FeedSection, Paritech.Zenith.Feed" />
			<section name="Engine" type="Paritech.Zenith.Trading.Engine.Config.EngineSection, Paritech.Zenith.Trading.Engine" />
			<section name="Log" type="Paritech.Zenith.ZenithLogSettings, Paritech.Zenith.Service" />
		</sectionGroup>
	</configSections>
	<Paritech.Zenith>
		<Log>
			<Minimum Level="Verbose">
				<add Source="Microsoft" Level="Warning" />
				<add Source="System" Level="Warning" />
			</Minimum>
		</Log>
		<Engine>
			<Accounts>
				<add Type="Paritech.Zenith.Trading.Accounts.Oms2.OmsAccountsProvider, Paritech.Zenith.Trading.Accounts.Oms2" Target="XOSP[${EnvironmentTag}]" Oms="http://oms.hub" />
			</Accounts>
			<Brokers>
				<add Type="Paritech.Zenith.Trading.Brokers.Oms2.OmsBroker, Paritech.Zenith.Trading.Brokers.Oms2" Name="OMS" Source="OMS[${EnvironmentTag}]" Target="XOSP[${EnvironmentTag}]" Priority="1" Uri="http://oms.hub" />
			</Brokers>
			<Routes>
				<add Type="Paritech.Zenith.Trading.Routing.Algorithms.MarketAlgorithmProvider, Paritech.Zenith.Trading" Name="Market" />
				<add Type="Paritech.Zenith.Trading.Routing.Algorithms.BestMarketAlgorithmProvider, Paritech.Zenith.Trading" Name="BestMarket" />
			</Routes>
			<Sync Type="Paritech.Zenith.Trading.Sync.Null.NullSyncProvider, Paritech.Zenith.Trading" />
			<Vetting Path="Vetting.${Environment}.config" />
		</Engine>
		<Feed>
			<Currencies>
				<add Code="AUD" Secondary="100" />
				<add Code="CNY" Secondary="10" Tertiary="10" />
				<add Code="EUD" Secondary="100" />
				<add Code="GBP" Secondary="100" />
				<add Code="JPY" Secondary="100" Tertiary="1000" />
				<add Code="MYR" Secondary="100" />
				<add Code="NZD" Secondary="100" />
				<add Code="USD" Secondary="100" />
			</Currencies>
			<TradingSources>
				<add Hidden="True">OMS[${EnvironmentTag}]</add>
			</TradingSources>
			<Components>
				<!--<add Type="Paritech.Zenith.Diagnostics.SnmpSubAgent.SnmpProvider, Paritech.Zenith.Diagnostics.SnmpSubAgent" Prefix="32.2" />-->
				<add Type="Paritech.Zenith.Feed.Activity.JsonActivityListener, Paritech.Zenith.Feed" Prefix="Activity" />

				<add Type="Paritech.Zenith.Security.Passport.PassportProvider, Paritech.Zenith.Security.Passport"
					Uri="https://auth.${HttpsUri}" ClientID="${ClientID-ZenithService}" ClientSecret="${ClientSecret-ZenithService}"
					Prefix="Zenith${AuthSuffix}" ApiResource="Zenith${AuthSuffix}-API" />
				<add Type="Paritech.Zenith.Security.Authority.AuthorityProvider, Paritech.Zenith.Security.Authority" Uri="http://authority" AssetType="User" ClientAssetType="Client" />

				<add Type="Paritech.Zenith.Feed.Filter.MarketHolidayProvider, Paritech.Zenith.Feed.Filter" Uri="http://holiday" />
				<add Type="Paritech.Zenith.Feed.Sessions.Sms.SmsProvider, Paritech.Zenith.Feed.Sessions.Sms" ConfigPath="SessionManagement.${Environment}.config" Uri="http://sessions/" />
				<add Type="Paritech.Zenith.Feed.Watchmaker.WmProvider, Paritech.Zenith.Feed.Watchmaker" Uri="http://watchmaker" />
					
				<add Type="Paritech.Zenith.Feed.Prodigy.ProdigyProvider, Paritech.Zenith.Feed.Prodigy" Name="Prodigy-XOSP" DynamicMarkets="True" DynamicTag="${EnvironmentTag}">
					<Server FixUri="fix://prodigy.gateway:9000" ServiceUri="http://prodigy.public/" SenderCompID="${MarketOperator}" SenderSubID="ZMD" TargetCompID="XOSP" />
				</add>
				<add Type="Paritech.Zenith.Feed.Temporal.DelayedMarketProvider, Paritech.Zenith.Feed.Temporal" Market="${MarketCode}[${EnvironmentTag}]" Delay="00:20:00" Filter="AssetOnly" />
				
				<add Type="Paritech.Zenith.Feed.IQ.IqServer, Paritech.Zenith.Feed.IQ" Name="IqServer-XOSP" Context="AspNet">
					<Listen>
						<add Uri="http://0.0.0.0:7820/" />
					</Listen>
				</add>
				<add Type="Paritech.Zenith.WebSocket.Server.WsServer, Paritech.Zenith.WebSocket.Server" Logging="XOSP" Context="AspNet">
					<Listen>
						<add Uri="ws://0.0.0.0:4502/" EnableProxyProtocol="True" />
					</Listen>
					<Static Path="Site" Default="index.html" />
					<Controllers>
						<add Type="Paritech.Zenith.WebSocket.Server.WsZenithControllerFactory, Paritech.Zenith.WebSocket.Server" ServerClass="Service" />
						<add Type="Paritech.Zenith.WebSocket.Data.WsDataControllerFactory, Paritech.Zenith.WebSocket.Data" RequireSecureTrading="False" />
						<add Type="Paritech.Zenith.WebSocket.ExData.WsExDataControllerFactory, Paritech.Zenith.WebSocket.ExData" />
						<add Type="Paritech.Zenith.WebSocket.Admin.WsAdminControllerFactory, Paritech.Zenith.WebSocket.Admin" />
					</Controllers>
				</add>
			</Components>
		</Feed>
	</Paritech.Zenith>
</configuration>