<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="Paritech.Zenith">
			<section name="Vetting" type="Paritech.Zenith.Trading.Engine.Config.VettingSection, Paritech.Zenith.Trading.Engine" />
		</sectionGroup>
	</configSections>
	<Paritech.Zenith>
		<Vetting>
			<Libraries>
				<add Type="Paritech.Zenith.Trading.Vetting.Oms2.OmsFixedVettingLibrary, Paritech.Zenith.Trading.Vetting.Oms2" Name="OMS">
					<Rules>
						<add Name="OMS.Implicit"><![CDATA[
FAIL WITH Account.Inactive IF account HAS active AND (NOT account.active)
						]]></add>
						<add Name="OMS.FundingCheck"><![CDATA[
RUN IF request.type IN ['Place', 'Amend']  # Can always cancel an order
{
    FAIL WITH [Balance.Exceed, balance.trading] IF order.side IS Bid AND (order HAS value AND (details.value - order.value) > balance.trading)
}
						]]></add>
						<add Name="OMS.HoldingCheck"><![CDATA[
RUN IF request.type IN ['Place', 'Amend']  # Can always cancel and order
{
    RUN IF order.side IS Ask # Can BID for anything but can only ASK for what we have
    {
        FAIL WITH [Quantity.Insufficient, 0] IF holding MISSING available
        FAIL WITH [Quantity.Insufficient, holding.available] IF (details.quantity - order.quantity) > holding.available
    }
}
						]]></add>						
						<add Name="OMS.Compliance"><![CDATA[
RUN IF request.type IN ['Place', 'Amend']  # Can always cancel an order
{
    FAIL WITH [OrderPrice.Invalid] IF details.price <= 0
    
    RUN IF market HAS lastorclose  # Must have a price to work with
    {
        RUN IF order.side IS Bid
        {
            FAIL WITH [OrderPrice.TooFarAbove, '10.0%'] IF (100 * (details.price - market.lastorclose) / market.lastorclose) > 10.0
        }
        RUN IF order.side IS Ask
        {
            FAIL WITH [OrderPrice.TooFarBelow, '-10.0%'] IF (100 * (details.price - market.lastorclose) / market.lastorclose) < -10.0
        }
    }
    ELSE  # No price to work with
    {
        # FAIL WITH LastPrice.Unavailable IF market MISSING lastorclose
    }
}
						]]></add>
						<add Name="OMS.Limits"><![CDATA[
RUN IF request.type IN ['Place', 'Amend']  # Can always cancel an order
{
    FAIL WITH [OrderValue.Exceed, '1000000'] IF details.value > 1000000
    FAIL WITH [OrderPrice.Exceed, '200.00'] IF details.price > 200.00
    FAIL WITH [OrderQuantity.Exceed, '5000000'] IF details.quantity > 5000000
}
						]]></add>
					</Rules>
				</add>
			</Libraries>
			<Sets>
				<!-- Applies to all Orders -->
				<add Type="Paritech.Zenith.Trading.Vetting.Sets.SimpleRuleSet, Paritech.Zenith.Trading" Name="OMS.General">
					<Conditions />
					<Rules>
						<add>OMS.Implicit</add>
						<add>OMS.FundingCheck</add>
						<add>OMS.HoldingCheck</add>
						<add>OMS.Compliance</add>
						<add>OMS.Limits</add>
					</Rules>
				</add>
			</Sets>
		</Vetting>
	</Paritech.Zenith>
</configuration>